<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" temporary app clipped width="320">
      <v-list>
        <v-list-item :to="{ path: '/' }">
          <v-list-item-action>
            <v-icon>mdi-{{ icons[0] }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title> Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ path: '/clasificacionmanual' }">
          <v-list-item-action>
            <v-icon>mdi-{{ icons[1] }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{
              traslate("MenuClasificarTweetMan")
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ path: '/resultados' }">
          <v-list-item-action>
            <v-icon>mdi-{{ icons[2] }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{
              traslate("MenuVerresultados")
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ path: '/tweetsclasificados' }">
          <v-list-item-action>
            <v-icon>mdi-{{ icons[3] }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{
              traslate("MenuVerTweetClas")
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{ path: '/evaluarmodelos' }">
          <v-list-item-action>
            <v-icon>mdi-{{ icons[4] }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{
              traslate("MenuEvaluaModelo")
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ path: '/ayuda' }">
          <v-list-item-action>
            <v-icon>mdi-{{ icons[5] }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ traslate("MenuAyuda") }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app color="primary" dark hide-on-scroll dense>
      <v-app-bar-nav-icon
        @click="drawer = true"
        class="white--text"
      ></v-app-bar-nav-icon>

      <div class="d-flex align-center">
        <v-toolbar-title>{{ traslate("TituloBar") }}</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://gitlab.com/ManuelLepeF/lexicon_ml_agresividad_web"
        target="_blank"
        text
      >
        <span class="mr-2">{{ traslate("CodigoFuenteWebBar") }}</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>

      <v-btn
        href="https://gitlab.com/ManuelLepeF/lexicon_ml_agresividad"
        target="_blank"
        text
      >
        <span class="mr-2">{{ traslate("CodigoFuenteExpbBar") }}</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
      <!--<HelloWorld/> -->
    </v-main>
    <v-footer padless>
      <v-col class="text-center" cols="10">
        2021 — {{ traslate("GrupoFooter") }}
        <a href="https://dsi.face.ubiobio.cl/somos/" target="_blank"> SoMoS </a>
        , <strong> Universidad del Bío-Bío</strong>.
        {{ traslate("DesarrolladoFooter") }}
        Manuel Lepe F.
      </v-col>
      <v-col class="text-center" cols="2">
        <select name="lang" v-model="languageModel">
          <option value="en">English version</option>
          <option value="es">Spanish version</option>
        </select>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import en from "./texto/en.js";
import es from "./texto/es.js";

export default {
  name: "App",

  components: {},
  mixins: [en, es],
  data: () => ({
    icons: [
      "home",
      "thumbs-up-down",
      "flask-empty",
      "database-search",
      "clipboard-pulse-outline",
      "help-circle",
    ],
    drawer: false,
    languageItems: [
      { nombre: "Spanish", abbr: "es" },
      { nombre: "English", abbr: "en" },
    ],
  }),
  computed: {
    languageModel: {
      get() {
        return this.$store.state.language;
      },
      set(value) {
        console.log(value);
        this.$store.commit("actualizarLanguage", value);
      },
    },
  },

  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
