<template>
  <v-container>
    <v-row class="mt-7" justify="center">
      <v-card elevation="2">
        <v-card-title> {{ traslate("TituloAyuda") }} </v-card-title>
        <v-card-text>
          <v-row align="center" class="mx-0">
            {{ traslate("BajadaAyuda_1") }}
            <br />
            {{ traslate("BajadaAyuda_2") }}
          </v-row>
          <v-simple-table class="mt-4">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">{{ traslate("AyudaTr_1") }}</th>
                  <th class="text-left">{{ traslate("AyudaTr_2") }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>WE</td>
                  <td>Enfoque Word Embedding</td>
                </tr>
                <tr>
                  <td>SVM</td>
                  <td>Clasificador Support Vector Machine</td>
                </tr>
                <tr>
                  <td>NB</td>
                  <td>Clasificador Naive Bayes</td>
                </tr>
                <tr>
                  <td>RF</td>
                  <td>Clasificador Random Forest</td>
                </tr>
                <tr>
                  <td>CU</td>
                  <td>Corpus Chileno</td>
                </tr>
                <tr>
                  <td>MX</td>
                  <td>Corpus Mexicano</td>
                </tr>
                <tr>
                  <td>CUMX</td>
                  <td>Corpus ChilenoMexicano</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "Ayuda",
  mixins: [en, es],
  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
