<template>
  <div class="home">
    <ElegirModelo msg="Welcome to Your Vue.js App" />
    <v-divider></v-divider>
    <RetroalimentacionModelo />
  </div>
</template>

<script>
// @ is an alias to /src
import ElegirModelo from "@/components/ElegirModelo.vue";
import RetroalimentacionModelo from "@/components/RetroalimentacionModelo.vue";

export default {
  name: "ClasificacionManual",
  components: {
    ElegirModelo,
    RetroalimentacionModelo,
  },
};
</script>
