<template>
  <v-container>
    <v-row>
      <ElegirModelo msg="Welcome to Your Vue.js App" />
    </v-row>
    <v-divider></v-divider>

    <v-row justify="center" class="mt-5 mb-4">
      <h1 class="display-2 font-weight-regular mb-3">
        {{ traslate("TituloEvaluarModelos") }}
      </h1>
    </v-row>
    <v-row justify="center" class="mb-3">
      <p>
        {{ traslate("BajadaEvaluarModelos") }}
      </p>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-end">
        <v-btn
          color="primary"
          x-large
          @click="descargarPlantilla('PlantillaParaEvaluarModelo')"
          :loading="cargandoDescarga"
        >
          <v-icon>mdi-download</v-icon>
          <span> {{ traslate("DescargarPlantilla") }} </span>
        </v-btn>
      </v-col>
      <v-col class="d-flex justify-center">
        <v-file-input
          accept=".csv"
          :label="traslate('LabelCargarCorpus')"
          outlined
          @change="cambioArchivo"
        ></v-file-input>
      </v-col>

      <v-col class="d-flex justify-start">
        <v-btn
          color="primary"
          x-large
          :loading="cargando"
          :disabled="file !== '' ? false : true"
          @click="EvaluarModelo"
        >
          {{ traslate("BtnEvaluarModelo") }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-card v-if="mostrarResultados">
        <v-card-title>
          {{ traslate("TituloResultadosEv") }}
        </v-card-title>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="title text-start">
                  {{ traslate("NombreMetricaEv") }}
                </th>
                <th class="title text-start">{{ traslate("ResultadoEv") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in resultadosMetricas" :key="item.nombre">
                <td>{{ item.nombre }}</td>
                <td>{{ item.resultado }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </v-row>
    <v-row justify="center">
      <v-alert
        close-text="Close Alert"
        dismissible
        outlined
        v-model="activarAlerta"
        :type="tipoAlerta"
        text
      >
        {{ textoAlerta }}
      </v-alert>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import ElegirModelo from "@/components/ElegirModelo.vue";
import { mapState } from "vuex";
import axios from "axios";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "ClasificacionManual",
  mixins: [en, es],
  data: () => ({
    cargando: false,
    file: "",
    mostrarResultados: false,
    resultadosMetricas: [],
    textoAlerta: "",
    tipoAlerta: "error",
    activarAlerta: false,
    cargandoDescarga: false,
  }),
  components: {
    ElegirModelo,
  },
  computed: {
    ...mapState(["enfoqueModelo", "algoritmoML", "corpus"]),
  },
  methods: {
    cambioArchivo(file) {
      if (file !== null) {
        this.file = file;
      } else {
        this.file = "";
      }
    },
    async EvaluarModelo() {
      this.mostrarResultados = false;
      try {
        this.cargando = true;
        let formData = new FormData();
        formData.append("filename", this.file.name);
        formData.append("content_type", "text/plain");
        formData.append("file", this.file);
        formData.append("enfoque", this.enfoqueModelo);
        formData.append("algoritmo", this.algoritmoML);
        formData.append("corpus", this.corpus);

        let datos = await axios({
          method: "post",
          url: `${process.env.VUE_APP_API_URL}/evaluarmodelo/`,
          data: formData,
          headers: { "Content-Type": "multipart/form-data" },
        });
        this.resultadosMetricas = [
          {
            nombre: "Accuracy",
            resultado: datos.data.Accuracy,
          },
          {
            nombre: "F1-Weighted",
            resultado: datos.data.F1Weighted,
          },
          {
            nombre: "Precision-Weighted",
            resultado: datos.data.PrecisionWeighted,
          },
          {
            nombre: "Recall-Weighted",
            resultado: datos.data.RecallWeighted,
          },
        ];
        this.mostrarResultados = true;
      } catch (error) {
        this.textoAlerta =
          "No se pudo llevar a cabo la evaluación, esto se produce por que el corpus ingresado no es valido o no se pudo establecer comunicación con la API";
        this.tipoAlerta = "error";
        this.activarAlerta = true;
        console.error(error);
      } finally {
        this.cargando = false;
      }
    },
    async descargarPlantilla(nombrePlantilla) {
      this.cargandoDescarga = true;
      try {
        await axios({
          url: `${process.env.VUE_APP_API_URL}/descargar_plantilla/${nombrePlantilla}`,
          method: "GET",
          responseType: "blob", // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", nombrePlantilla + ".csv");
          document.body.appendChild(link);
          link.click();
        });
      } catch (error) {
        this.textoAlerta =
          "No se pudo llevar a cabo la solicitud a la base de datos: " + error;
        this.tipoAlerta = "error";
        this.activarAlerta = true;
      } finally {
        this.cargandoDescarga = false;
      }
    },
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
