<template>
  <div class="home">
    <ElegirModelo msg="Welcome to Your Vue.js App"/>
    <v-divider></v-divider>
    <ClasificarTweets/>
    <v-divider></v-divider>
    <ClasificarFrases/>
  </div>
</template>

<script>
// @ is an alias to /src
import ElegirModelo from '@/components/ElegirModelo.vue'
import ClasificarTweets from '@/components/ClasificarTweets.vue'
import ClasificarFrases from '@/components/ClasificarFrases.vue'


export default {
  name: 'Home',
  components: {
    ElegirModelo,
    ClasificarTweets,
    ClasificarFrases
  }
}
</script>
