<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12 mt-4 mb-4">
        <h1 class="display-2 font-weight-regular mb-3">
          {{ traslate("TituloVerResultados") }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <TablaResultados />
    </v-row>

    <v-row class="mt-7" justify="center">
      <v-card elevation="2">
        <v-card-title> {{ traslate("TituloAyuda") }} </v-card-title>
        <v-card-text>
          <v-row align="center" class="mx-0">
            {{ traslate("BajadaAyuda_1") }}
            <br />
            {{ traslate("BajadaAyuda_2") }}
          </v-row>
          <v-simple-table class="mt-4">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">{{ traslate("AyudaTr_1") }}</th>
                  <th class="text-left">{{ traslate("AyudaTr_2") }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>WE</td>
                  <td>Enfoque Word Embedding</td>
                </tr>
                <tr>
                  <td>SVM</td>
                  <td>Clasificador Support Vector Machine</td>
                </tr>
                <tr>
                  <td>NB</td>
                  <td>Clasificador Naive Bayes</td>
                </tr>
                <tr>
                  <td>RF</td>
                  <td>Clasificador Random Forest</td>
                </tr>
                <tr>
                  <td>CU</td>
                  <td>Corpus Chileno</td>
                </tr>
                <tr>
                  <td>MX</td>
                  <td>Corpus Mexicano</td>
                </tr>
                <tr>
                  <td>CUMX</td>
                  <td>Corpus ChilenoMexicano</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-row>
    <v-row justify="center">
      <h1 class="display-2 font-weight-regular mb-3 mt-8">
        {{ traslate("TituloDescargarCorpus") }}
      </h1>
    </v-row>
    <v-row class="d-flex justify-center mt-7">
      <v-btn @click="descargarCorpus('chileno')" color="primary">
        <v-icon>mdi-download</v-icon>
        <span class="mr-2">Chileno (train+test)</span>
      </v-btn>
      <v-btn @click="descargarCorpus('mexicano')" color="primary" class="ml-4">
        <v-icon>mdi-download</v-icon>
        <span class="mr-2">Mexicano (train+test)</span>
      </v-btn>
    </v-row>
    <v-row class="d-flex justify-center mt-7 mb-5">
      <v-btn @click="descargarCorpus('chilenomexicano')" color="primary">
        <v-icon>mdi-download</v-icon>
        <span class="mr-2">Chileno+Mexicano (train+test)</span>
      </v-btn>
    </v-row>
    <v-row justify="center">
      <v-alert
        close-text="Close Alert"
        dismissible
        outlined
        v-model="activarAlerta"
        :type="tipoAlerta"
        text
      >
        {{ textoAlerta }}
      </v-alert>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import ElegirModelo from "@/components/ElegirModelo.vue";
import TablaResultados from "@/components/TablaResultados.vue";
import axios from "axios";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "ResultadosExperimentos",
  mixins: [en, es],
  data() {
    return {
      activarAlerta: false,
      tipoAlerta: "error",
      textoAlerta: "",
    };
  },
  components: {
    TablaResultados,
  },
  methods: {
    async descargarCorpus(corpus) {
      try {
        await axios({
          url: `${process.env.VUE_APP_API_URL}/descargar_corpus/${corpus}`,
          method: "GET",
          responseType: "blob", // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", corpus + ".zip");
          document.body.appendChild(link);
          link.click();
        });
      } catch (error) {
        this.textoAlerta =
          "No se pudo llevar a cabo la solicitud a la base de datos: " + error;
        this.tipoAlerta = "error";
        this.activarAlerta = true;
      }
    },
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
