<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12 mt-4 mb-4">
        <h1 class="display-2 font-weight-regular mb-3">
          {{ traslate("TituloVerTweets") }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <TablaTweetsClasificados />
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import TablaTweetsClasificados from "@/components/TablaTweetsClasificados.vue";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "TweetsClasificados",
  mixins: [en, es],
  data() {
    return {};
  },
  components: {
    TablaTweetsClasificados,
  },
  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
