<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12 mt-4 mb-4">
        <h1 class="display-2 font-weight-regular mb-3">
          {{ traslate("TituloClasificarFrases") }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center" class="mb-5">
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
        @submit.prevent="validarFormulario"
      >
        <v-container>
          <v-row>
            <v-textarea
              outlined
              name="input-7-4"
              :label="traslate('LabelInputFrases')"
              value=""
              :rules="[(v) => !!v || traslate('ValidarFrasesVacio')]"
              v-model="frases"
            ></v-textarea>
          </v-row>
          <v-row>
            <v-col>
              <v-btn
                color="primary"
                type="submit"
                x-large
                :loading="cargando"
                :disabled="!valid"
              >
                {{ traslate("BtnClasificarFrases") }}
              </v-btn>
            </v-col>
            <v-col>
              <v-btn color="primary" x-large @click="Limpiar">
                {{ traslate("BtnLimpiar") }}
              </v-btn>
            </v-col>
            <v-col>
              <v-file-input
                accept=".txt"
                label="Cargar Frases"
                outlined
                @change="FrasesTxt"
              ></v-file-input>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-row>
    <v-row v-if="mostrarClasificacion">
      <v-col cols="12" md="9">
        <TablaClasificacion
          :listaTweetClasificados="frasesClasificados"
        ></TablaClasificacion>
      </v-col>
      <v-col cols="12" md="3">
        <GraficoTorta
          :porcentajeAgresivos="porcentajeAgresivos"
          :porcentajeNoAgresivos="porcentajeNoAgresivos"
        ></GraficoTorta>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-alert
        close-text="Close Alert"
        dismissible
        outlined
        v-model="activarAlerta"
        :type="tipoAlerta"
        text
      >
        {{ textoAlerta }}
      </v-alert>
    </v-row>
  </v-container>
</template>

<script>
import TablaClasificacion from "@/components/TablaClasificacion.vue";
import GraficoTorta from "@/components/GraficoTorta.vue";
import { mapState } from "vuex";
import axios from "axios";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "ClasificarFrases",
  mixins: [en, es],
  data: () => ({
    frases: "",
    mostrarClasificacion: false,
    porcentajeAgresivos: 50,
    porcentajeNoAgresivos: 50,
    cargando: false,
    frasesClasificados: [],
    valid: true,
    rutaTxt: "",
    activarAlerta: false,
    tipoAlerta: "error",
    textoAlerta: "",
  }),
  components: {
    TablaClasificacion,
    GraficoTorta,
  },
  computed: {
    ...mapState(["enfoqueModelo", "algoritmoML", "corpus"]),
  },
  methods: {
    validarFormulario() {
      if (this.$refs.form.validate()) this.ClasificarFrases();
    },
    async ClasificarFrases() {
      try {
        this.mostrarClasificacion = false;
        this.cargando = true;
        let datos = await axios.post(
          `${process.env.VUE_APP_API_URL}/predecir_multiple_texto/`,
          {
            listaTexto: this.frases.split("\n").filter((e) => e !== ""),
            modelo: this.enfoqueModelo,
            clasificador: this.algoritmoML,
            corpus: this.corpus,
          }
        );
        this.frasesClasificados = datos.data.listaTweetClasificados;
        this.porcentajeAgresivos =
          datos.data.numero_agresivos /
          (datos.data.numero_agresivos + datos.data.numero_noAgresivos);
        this.porcentajeNoAgresivos =
          datos.data.numero_noAgresivos /
          (datos.data.numero_agresivos + datos.data.numero_noAgresivos);
        this.mostrarClasificacion = true;
      } catch (error) {
        this.activarAlerta = true;
        this.tipoAlerta = "error";
        this.textoAlerta = "No se pudo llevar a cabo la solicitud";
      } finally {
        this.cargando = false;
      }
    },
    Limpiar() {
      this.frases = "";
      this.mostrarClasificacion = false;
    },
    FrasesTxt(file) {
      const reader = new FileReader();
      reader.onload = (e) => this.leerFile(e.target.result);
      this.frases = reader.readAsText(file);
      console.log(this.frases);
    },
    leerFile(e) {
      this.frases = String(e);
    },
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
