<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12 mb-4">
        <h1 class="display-2 font-weight-regular mb-3">
          {{ traslate("TituloClasificarTweets") }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
        @submit.prevent="validarFormulario"
      >
        <v-container>
          <v-row>
            <v-col cols="12" md="3">
              <v-select
                :items="['Palabras Claves', 'Tweets usuario']"
                :label="traslate('LabelBuscarTweets')"
                v-model="tipoBusqueda"
                outlined
                required
              ></v-select>
            </v-col>

            <v-col cols="12" md="3">
              <v-text-field
                v-model="keyBusqueda"
                :label="
                  tipoBusqueda == 'Palabras Claves'
                    ? traslate('LabelIngresarPalabras')
                    : traslate('LabelIngresarUsuario')
                "
                outlined
                :rules="[(v) => !!v || traslate('CampoRequerido')]"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3">
              <v-text-field
                v-model="numeroTweets"
                :label="traslate('LabelNumeroTweets')"
                outlined
                type="number"
                :rules="[(v) => !!v || traslate('CampoRequerido')]"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-btn
                color="primary"
                class="mr-4"
                block
                x-large
                :loading="cargando"
                :disabled="!valid"
                type="submit"
              >
                {{ traslate("BtnClasificarTweets") }}
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-row>
    <v-row v-if="mostrarClasificacion">
      <v-col cols="12" md="9">
        <TablaClasificacion
          :listaTweetClasificados="tweetsClasificados"
        ></TablaClasificacion>
      </v-col>
      <v-col cols="12" md="3">
        <GraficoTorta
          :porcentajeAgresivos="porcentajeAgresivos"
          :porcentajeNoAgresivos="porcentajeNoAgresivos"
        ></GraficoTorta>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-alert
        close-text="Close Alert"
        dismissible
        outlined
        v-model="activarAlerta"
        :type="tipoAlerta"
        text
      >
        {{ textoAlerta }}
      </v-alert>
    </v-row>
  </v-container>
</template>

<script>
import TablaClasificacion from "@/components/TablaClasificacion.vue";
import GraficoTorta from "@/components/GraficoTorta.vue";
import axios from "axios";
import { mapState } from "vuex";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "ClasificarTweets",
  mixins: [en, es],
  data: () => ({
    valid: true,
    tipoBusqueda: "Palabras Claves",
    keyBusqueda: "",
    numeroTweets: null,
    tweetsClasificados: null,
    mostrarClasificacion: false,
    porcentajeAgresivos: 0,
    porcentajeNoAgresivos: 0,
    cargando: false,
    activarAlerta: false,
    tipoAlerta: "error",
    textoAlerta: "",
  }),
  components: {
    TablaClasificacion,
    GraficoTorta,
  },
  computed: {
    ...mapState(["enfoqueModelo", "algoritmoML", "corpus"]),
  },
  methods: {
    validarFormulario() {
      if (this.$refs.form.validate()) this.ClasificarTweets();
    },

    async ClasificarTweets() {
      console.log(this.tipoBusqueda);
      try {
        this.mostrarClasificacion = false;
        this.cargando = true;
        let datos = await axios.get(
          `${process.env.VUE_APP_API_URL}/predecir_tweet`,
          {
            params: {
              cantidadTweet: this.numeroTweets,
              tipoTweet: this.tipoBusqueda,
              textoPalabrasClaves: this.keyBusqueda,
              modelo: this.enfoqueModelo,
              clasificador: this.algoritmoML,
              corpus: this.corpus,
            },
          }
        );
        this.tweetsClasificados = datos.data.listaTweetClasificados;
        this.porcentajeAgresivos =
          datos.data.numero_agresivos /
          (datos.data.numero_agresivos + datos.data.numero_noAgresivos);
        this.porcentajeNoAgresivos =
          datos.data.numero_noAgresivos /
          (datos.data.numero_agresivos + datos.data.numero_noAgresivos);
        this.mostrarClasificacion = true;
      } catch (error) {
        this.activarAlerta = true;
        this.tipoAlerta = "error";
        this.textoAlerta = "No se pudo llevar a cabo la solicitud";
      } finally {
        this.cargando = false;
      }
    },
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
