<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12 mb-4">
        <h1 class="display-2 font-weight-regular mb-3">
          {{ traslate("TituloElegirModelo") }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-form>
        <v-container>
          <v-row>
            <v-col cols="4 mb-4">
              <v-select
                :items="enfoquesItems"
                :label="traslate('LabelEnfoques')"
                outlined
                v-model="enfoque"
                @change="verificarSelectedAlgoritmos"
              ></v-select>
            </v-col>

            <v-col cols="4 mb-4">
              <v-select
                :items="algoritmosItems"
                item-text="nombre"
                item-value="abbr"
                :label="traslate('LabelAlgoritmos')"
                outlined
                v-model="algoritmoML"
                :disabled="blockSelectAlgortimo"
              ></v-select>
            </v-col>

            <v-col cols="4 mb-4">
              <v-select
                :items="corpusItems"
                item-text="nombre"
                item-value="abbr"
                label="Corpus"
                outlined
                v-model="corpus"
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
//import {mapState} from 'vuex';
import en from "../texto/en.js";
import es from "../texto/es.js";
export default {
  name: "ElegirModelo",
  mixins: [en, es],
  data: () => ({
    algoritmosItems: [
      { nombre: "Support Vector Machines", abbr: "SVM" },
      { nombre: "Naive Bayes", abbr: "NB" },
      { nombre: "Random Forest", abbr: "RF" },
    ],
    corpusItems: [
      { nombre: "Chileno", abbr: "CU" },
      { nombre: "Mexicano", abbr: "MX" },
      { nombre: "Chileno+Mexicano", abbr: "CUMX" },
    ],
    enfoquesItems: [
      "TF-IDF",
      "Lexicon",
      "TF-IDF_Lexicon",
      "WE",
      "WE_Lexicon",
      "WE_Lexicon_TF-IDF",
      "TF-IDF_Lexicon_E_Clf",
      "TF-IDF_Lexicon_E_SVM",
      "WE_Lexicon_TF-IDF_E_SVM",
      "Enfoques_E_SVM",
    ],
    blockSelectAlgortimo: false,
  }),
  computed: {
    enfoque: {
      get() {
        return this.$store.state.enfoqueModelo;
      },
      set(value) {
        this.$store.commit("actualizarEnfoque", value);
      },
    },
    algoritmoML: {
      get() {
        return this.$store.state.algoritmoML;
      },
      set(value) {
        console.log(value);
        this.$store.commit("actualizarAlgortimoML", value);
      },
    },
    corpus: {
      get() {
        return this.$store.state.corpus;
      },
      set(value) {
        this.$store.commit("actualizarCorpus", value);
      },
    },
  },
  methods: {
    verificarSelectedAlgoritmos() {
      //console.log(this.enfoque)
      if (
        this.enfoque == "TF-IDF_Lexicon_E_Clf" ||
        this.enfoque == "TF-IDF_Lexicon_E_SVM" ||
        this.enfoque == "WE_Lexicon_TF-IDF_E_SVM" ||
        this.enfoque == "Enfoques_E_SVM"
      ) {
        console.log("Hola que tal");
        this.blockSelectAlgortimo = true;
        this.$store.commit("actualizarAlgortimoML", "-");
        console.log(this.algoritmoML);
      } else {
        this.blockSelectAlgortimo = false;
        if (this.algoritmoML == "") {
          this.$store.commit("actualizarAlgortimoML", "SVM");
        }
      }
    },
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
