<template>
  <v-container>
    <apexchart
      type="pie"
      width="380"
      :options="chartOptions"
      :series="[porcentajeAgresivos, porcentajeNoAgresivos]"
    ></apexchart>
  </v-container>
</template>

<script>
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "GraficoTorta",
  mixins: [en, es],
  props: ["porcentajeAgresivos", "porcentajeNoAgresivos"],
  data() {
    return {
      chartOptions: {
        chart: {
          width: 380,
          type: "pie",
        },
        labels: ["Agresivo", "NoAgresivo"],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200,
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      },
    };
  },
  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>