<template>
  <v-card elevation="4">
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="traslate('BuscarTabla')"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="listaTweetClasificados"
      :items-per-page="5"
      item-key="tweet"
      class="elevation-1"
      :search="search"
      :footer-props="{
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
      }"
    ></v-data-table>
    <download-excel
      :data="listaTweetClasificados"
      name="TextosClasificados.xls"
    >
      <v-btn class="mt-2 mb-4" color="primary" block>
        {{ traslate("BtnGuardarExcel") }}
      </v-btn>
    </download-excel>
  </v-card>
</template>


<script>
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "TablaClasicacion",
  mixins: [en, es],
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Tweets",
          align: "start",
          value: "tweet",
        },
        { text: "Clasificacion", value: "clf_modelo" },
      ],
    };
  },
  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
  props: ["listaTweetClasificados"],
};
</script>