<template>
  <v-card elevation="4">
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="traslate('BuscarTabla')"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="tweetsGuardados"
      :items-per-page="5"
      class="elevation-1"
      :search="search"
      :loading="cargandoDatos"
      :footer-props="{
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
      }"
    ></v-data-table>
    <v-alert
      close-text="Close Alert"
      dismissible
      outlined
      v-model="activarAlerta"
      :type="tipoAlerta"
      text
    >
      {{ textoAlerta }}
    </v-alert>
    <download-excel :data="tweetsGuardados" name="tweetsClasificados.xls">
      <v-btn class="mt-2" color="primary" block>{{
        traslate("BtnGuardarExcel")
      }}</v-btn>
    </download-excel>
  </v-card>
</template>


<script>
import axios from "axios";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "TablaTweetsClasificados",
  mixins: [en, es],
  data() {
    return {
      search: "",
      cargandoDatos: true,
      textoAlerta: "",
      tipoAlerta: "error",
      activarAlerta: false,
      headers: [
        {
          text: "ID Tweet",
          align: "start",
          value: "id_tweet",
        },
        { text: "Tweet", value: "tweet", align: "start" },
        { text: "Modelo", value: "id_modelo", align: "center" },
        { text: "Clasificación modelo", value: "clf_modelo", align: "center" },
        { text: "Clasificación humano", value: "clf_humano", align: "center" },
      ],
      tweetsGuardados: [],
    };
  },
  created: async function () {
    this.cargandoDatos = true;
    try {
      let datos = await axios.get(
        `${process.env.VUE_APP_API_URL}/obtener_tweets`
      );
      if (datos.data.length > 0) {
        this.tweetsGuardados = datos.data;
      } else {
        this.textoAlerta = "No se encontraron resultados";
        this.tipoAlerta = "error";
        this.activarAlerta = true;
      }
    } catch (error) {
      this.textoAlerta =
        "No se pudo llevar a cabo la solicitud a la base de datos: " + error;
      this.tipoAlerta = "error";
      this.activarAlerta = true;
    } finally {
      this.cargandoDatos = false;
    }
  },
  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>
