
<template>
  <v-card elevation="4">
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="traslate('BuscarTabla')"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="resultadosModelos"
      :items-per-page="10"
      class="elevation-1"
      :search="search"
      :loading="cargandoDatos"
      :footer-props="{
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
      }"
    ></v-data-table>
    <download-excel
      :data="resultadosModelos"
      name="ResultadosEtapaExperimental.xls"
    >
      <v-btn class="mt-2 mb-4" color="primary" block>{{
        traslate("BtnGuardarExcel")
      }}</v-btn>
    </download-excel>
    <v-alert
      close-text="Close Alert"
      dismissible
      outlined
      v-model="activarAlerta"
      :type="tipoAlerta"
      text
    >
      {{ textoAlerta }}
    </v-alert>
  </v-card>
</template>


<script>
import { mapState } from "vuex";
import axios from "axios";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "TablaResultados",
  mixins: [en, es],
  data() {
    return {
      search: "",
      cargandoDatos: true,
      textoAlerta: "",
      tipoAlerta: "error",
      activarAlerta: false,
      headers: [
        {
          text: "Nombre",
          align: "start",
          value: "id_modelo",
        },
        { text: "Enfoque ", value: "enfoque", align: "center" },
        { text: "Algoritmo ML", value: "algoritmo_ml", align: "center" },
        { text: "Corpus", value: "corpus", align: "center" },
        { text: "F-measure", value: "f_measure", align: "center" },
        { text: "Accuracy", value: "accuracy", align: "center" },
        { text: "Precision ", value: "precision", align: "center" },
        { text: "Recall", value: "recall", align: "center" },
        { text: "Descripción", value: "descripcion", align: "left" },
      ],
      resultadosModelos: [],
    };
  },
  created: async function () {
    this.cargandoDatos = true;
    console.log(process.env.VUE_APP_API_URL);
    try {
      let datos = await axios.get(
        `${process.env.VUE_APP_API_URL}/obtener_modelos`
      );
      if (datos.data.length > 0) {
        this.resultadosModelos = datos.data;
      } else {
        this.textoAlerta = "No se encontraron resultados";
        this.tipoAlerta = "error";
        this.activarAlerta = true;
      }
    } catch (error) {
      this.textoAlerta =
        "No se pudo llevar a cabo la solicitud a la base de datos: " + error;
      this.tipoAlerta = "error";
      this.activarAlerta = true;
    } finally {
      this.cargandoDatos = false;
    }
  },
  methods: {
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>