<template>
  <v-card elevation="4">
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="traslate('BuscarTabla')"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="listaTweetClasificados"
      :items-per-page="5"
      item-key="tweet"
      class="elevation-1"
      :search="search"
      :footer-props="{
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
      }"
    >
      <template v-slot:item.clf_humano="{ item }">
        <v-select
          :items="['Agresivo', 'No Agresivo']"
          class="mt-2"
          label="Clasificar"
          v-model="item.clf_humano"
          outlined
          dense
          :disabled="item.clasificadoManual"
          :clearable="true"
          :light="true"
        ></v-select>
      </template>
    </v-data-table>
    <v-btn
      class="mt-2"
      color="primary"
      block
      @click="clasificarManualmente"
      :loading="cargando"
    >
      {{ traslate("BtnGuardarClasificacionMan") }}
    </v-btn>
    <v-alert
      close-text="Close Alert"
      dismissible
      outlined
      v-model="activarAlerta"
      :type="tipoAlerta"
      text
    >
      {{ textoAlerta }}
    </v-alert>
  </v-card>
</template>


<script>
import { mapState } from "vuex";
import axios from "axios";
import en from "../texto/en.js";
import es from "../texto/es.js";

export default {
  name: "TablaRetroalimentacion",
  mixins: [en, es],
  data() {
    return {
      search: "",
      hola: this.enfoqueModelo,
      textoAlerta: "",
      tipoAlerta: "success",
      activarAlerta: false,
      cargando: false,
      headers: [
        {
          text: "Tweets",
          align: "start",
          value: "tweet",
        },
        { text: "Clasificacion ", value: "clf_modelo" },
        { text: "Clasificacion manual", value: "clf_humano" },
      ],
    };
  },
  computed: {
    ...mapState(["enfoqueModelo", "algoritmoML", "corpus"]),
  },
  props: ["listaTweetClasificados"],
  created: function () {
    this.headers[1].text +=
      this.enfoqueModelo + "_" + this.algoritmoML + "_" + this.corpus;
    this.listaTweetClasificados.forEach((element) => {
      element.clf_humano = null;
      element.id_modelo =
        this.enfoqueModelo + "_" + this.algoritmoML + "_" + this.corpus;
      console.log("holiwi");
      element.clasificadoManual = false;
    });
  },
  methods: {
    async clasificarManualmente() {
      this.cargando = true;
      const objectSend = JSON.parse(
        JSON.stringify(
          this.listaTweetClasificados.filter(
            (e) => e.clf_humano !== null && !e.clasificadoManual
          )
        ),
        function (k, v) {
          if (k !== "clasificadoManual") return v;
        }
      );

      if (objectSend.length > 0) {
        try {
          let datos = await axios.post(
            `${process.env.VUE_APP_API_URL}/insertar_tweets`,
            objectSend
          );
          if (datos.data.success) {
            this.listaTweetClasificados
              .filter((e) => e.clf_humano !== null && !e.clasificadoManual)
              .forEach((element) => {
                element.tweet = "[CLASIFICADO] " + element.tweet;
                element.clasificadoManual = true;
              });
            this.textoAlerta =
              "Se guardo en la base de datos los tweets clasificados";
            this.tipoAlerta = "success";
            this.activarAlerta = true;
          } else {
            this.textoAlerta =
              "Error al guardan los tweets en la base de datos";
            this.tipoAlerta = "error";
            this.activarAlerta = true;
          }
          console.log("Entro:");
          console.log(objectSend);
        } catch (error) {
          this.textoAlerta =
            "No se pudo llevar a cabo la solicitud a la base de datos: " +
            error;
          this.tipoAlerta = "error";
          this.activarAlerta = true;
        } finally {
          this.cargando = false;
        }
      } else {
        this.textoAlerta = "Clasifique al menos un tweet manualmente";
        this.tipoAlerta = "warning";
        this.activarAlerta = true;
        this.cargando = false;
      }
    },
    traslate(prop) {
      return this[this.$store.state.language][prop];
    },
  },
};
</script>